<launch>

    <!-- these are the arguments you can pass this launch file, for example paused:=true -->
    <arg name="x" default="0.0" />
    <arg name="y" default="0.0" />
    <arg name="z" default="0.5" />
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="true" />

    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <!-- <arg name="world_name" value="$(find beetlebot_gazebo)/worlds/quarter_normal.world"/> -->
        <arg name="world_name" value="$(find beetlebot_gazebo)/worlds/beetlebot.world"/>
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
        <arg name="verbose" value="$(arg verbose)" />
    </include>

    <!-- Load the URDF into the ROS Parameter Server -->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find beetlebot_description)/urdf/beetlebot.xacro'" />

    <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
    <node   name="urdf_spawner" 
            pkg="gazebo_ros" 
            type="spawn_model" 
            respawn="false" 
            output="screen" 
            args="-urdf -model beetlebot -x $(arg x) -y $(arg y) -z $(arg z) -param robot_description"/>
    <!-- Run RVIZ-->
    <!-- <node name="$(anon rviz)" pkg="rviz" type="rviz" args="$(find beetlebot_gazebo)/beetlebot.rviz" output="screen"/> -->

    <!-- ros_control beetlebot launch file -->
    <include file="$(find beetlebot_control)/launch/beetlebot_control.launch" />

</launch>