<?xml version="1.0"?>

<robot>
    <macro name="sensor_camera" params="name ori_xyz ori_rpy">
        <!-- camera_link -->
        <link name="${name}_link">
            <collision>
                <origin xyz="0.005 0.011 0.013" rpy="0 0 0"/>
                <geometry>
                <box size="0.015 0.030 0.027"/>
                </geometry>
            </collision>
        </link>
        <joint name="${name}_joint" type="fixed">
            <origin xyz="${ori_xyz}" rpy="${ori_rpy}"/>
            <parent link="chassis"/>
            <child link="${name}_link"/>
        </joint>
        <!-- camera_frame -->
        <link name="${name}_frame"/>
        <joint name="${name}_frame_joint" type="fixed">
            <origin xyz="0.003 0.011 0.009" rpy="0 0 0"/>
            <parent link="${name}_link"/>
            <child link="${name}_frame"/>
        </joint>
        <!-- camera_optical -->
        <link name="${name}_optical_frame"/>
        <joint name="${name}_optical_joint" type="fixed">
            <origin xyz="0 0 0" rpy="-1.57 0 -1.57"/>
            <parent link="${name}_frame"/>
            <child link="${name}_optical_frame"/>
        </joint>
        
        <gazebo reference="${name}_frame">
            <sensor type="depth" name="Pi Camera">
                <always_on>true</always_on>
                <visualize>false</visualize>
                <camera>
                    <horizontal_fov>1.085595</horizontal_fov>
                    <image>
                        <width>960</width>
                        <height>640</height>
                        <format>R8G8B8</format>
                    </image>
                    <clip>
                        <near>0.03</near>
                        <far>100</far>
                    </clip>
                </camera>
                <!-- <plugin name="camera_controller" filename="libgazebo_ros_camera.so"> -->
                <plugin name="camera_controller" filename="libgazebo_ros_openni_kinect.so">
                    <!-- libgazebo_ros_openni_kinect -->
                    <alwaysOn>true</alwaysOn>
                    <updateRate>30.0</updateRate>
                    <cameraName>camera</cameraName>
                    <frameName>${name}_optical_frame</frameName>
                    <imageTopicName>${name}/image_raw</imageTopicName>
                    <cameraInfoTopicName>${name}/camera_info</cameraInfoTopicName>

                    <depthImageTopicName>${name}/image_depth</depthImageTopicName>
                    <depthImageInfoTopicName>${name}/camera_depth_info</depthImageInfoTopicName>
                    <pointCloudTopicName>${name}/image_depth/points</pointCloudTopicName>

                    <pointCloudCutoff>0.05</pointCloudCutoff>
                    <pointCloudCutoffMax>10.0</pointCloudCutoffMax>
                    <rangeMax>30.0</rangeMax>

                    <hackBaseline>0.07</hackBaseline>
                    <distortionK1>0.0</distortionK1>
                    <distortionK2>0.0</distortionK2>
                    <distortionK3>0.0</distortionK3>
                    <distortionT1>0.0</distortionT1>
                    <distortionT2>0.0</distortionT2>
                </plugin>
            </sensor>
        </gazebo>
    </macro>
    <!-- Hokuyo_laser -->
    <macro name="Hokuyo_laser" params="">
        <link name="hokuyo_link">
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                <box size="0.1 0.1 0.1"/>
                </geometry>
            </collision>

            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                <mesh filename="$(find beetlebot_description)/meshes/hokuyo.dae"/>
                </geometry>
            </visual>

            <inertial>
                <mass value="1e-5" />
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
            </inertial>
        </link>

        <joint name="hokuyo_joint" type="fixed">
            <axis xyz="0 1 0" />
            <!-- <origin xyz="0.2206 0.0 0.0063" rpy="0 0 0"/> -->
            <origin xyz="0.250 0.0 0.362" rpy="0 0 0"/>
            <!-- <origin xyz="-0.064 0 0" rpy="0 0 0"/> -->
            <parent link="chassis"/>
            <child link="hokuyo_link"/>
        </joint>
        <gazebo reference="hokuyo_link">
            <sensor type="ray" name="head_hokuyo_sensor">
                <pose>0 0 0 0 0 0</pose>
                <visualize>true</visualize>
                <update_rate>30</update_rate>
                <ray>
                <scan>

                    <!-- <vertical>
                    <samples>50</samples> -->
                    <!-- <samples>720</samples> -->
                    <!-- <resolution>1.0</resolution>
                    <min_angle>0.0</min_angle>
                    <max_angle>0.5</max_angle>
                    </vertical> -->

                    <horizontal>
                    <samples>0</samples>
                    <!-- <samples>720</samples> -->
                    <resolution>1.0</resolution>
                    <!-- <min_angle>-0.9916</min_angle>
                    <max_angle>0.9495</max_angle> -->
                    <min_angle>1.57</min_angle>
                    <max_angle>-1.57</max_angle>
                    <!-- <min_angle>0</min_angle>
                    <max_angle>0</max_angle> -->
                    </horizontal>
                
                </scan>
                <range>
                    <min>0.1</min>
                    <max>25.0</max>
                    <resolution>0.01</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <!-- Noise parameters based on published spec for Hokuyo laser
                        achieving "+-30mm" accuracy at range < 10m.  A mean of 0.0m and
                        stddev of 0.01m will put 99.7% of samples within 0.03m of the true
                        reading. -->
                    <mean>0.0</mean>
                    <stddev>0.01</stddev>
                </noise>
                </ray>
                <plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_laser.so">
                <topicName>/husky/laser/scan</topicName>
                <frameName>hokuyo_link</frameName>
                </plugin>
            </sensor>
        </gazebo>

    </macro>

    <!-- IMU -->
    <macro name="IMU" params="">
        <link name="imu_link">
            <inertial>
                <mass value="0.001"/>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.0001"/>
            </inertial>
            <visual>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                <box size="0.001 0.001 0.001"/>
                </geometry>
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                <box size=".001 .001 .001"/>
                </geometry>
            </collision>
        </link>
        <joint name="imu_joint" type="fixed">
            <axis xyz="1 0 0"/> <!-- 0 1 0 -->
            <origin xyz="0 0 0.19"/>
            <parent link="chassis"/>
            <child link="imu_link"/>
        </joint>
        <gazebo>
            <plugin name="imu_controller" filename="libgazebo_ros_imu.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>50.0</updateRate> 
                <bodyName>imu_link</bodyName>
                <topicName>imu_data</topicName>
                <gaussianNoise>2.89e-08</gaussianNoise>
                <xyzOffsets>0 0 0</xyzOffsets>
                <rpyOffsets>0 0 0</rpyOffsets>
                <!-- <interface:position name="imu_position"/> -->
            </plugin>
        </gazebo>
    </macro>
</robot>